<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="ConnDB"
	    connectionString ="Data Source=DESKTOP-5P4C1OM\MSSQLSERVER2019;Initial Catalog=banking_Sprint1;integrated security=true"
			 providerName ="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>